# Data cleaning from meteorological data - Quixeramobim Station, Cear√°, Brazil
- This notebook present the data cleaning process process.

Libs required

In [9]:
%matplotlib inline

import numpy as np
import pandas as pd
import warnings

import matplotlib.pyplot as plt

from sklearn.preprocessing import MinMaxScaler

plt.style.use('ggplot')
plt.rcParams['figure.figsize'] = (12,8)
warnings.filterwarnings('ignore')

In [10]:
df = pd.read_excel('./dataset/original_dataset.xls')
df['DATA'] = pd.to_datetime(df['DATA'], format='%d/%m/%Y').dt.floor('d')
df.set_index('DATA', inplace=True)
df.head(5)

,ARM,ETR,Deficit,Excedente,ETo,PRECIPITACAO,TEMPERATURA
DATA,,,,,,,
2016-01-01,2.948177e-07,2.864434e-08,6.954343,0.0,6.954343,0.0,28.9
2016-01-02,2.611958e-07,3.362185e-08,9.081504,0.0,9.081504,0.0,29.6
2016-01-03,2.334329e-07,6.000000e-01,8.428170,0.0,9.028170,0.6,29.2
2016-01-04,2.099996e-07,2.343332e-08,7.934186,0.0,7.934186,0.0,29.4
2016-01-05,1.894988e-07,2.050083e-08,7.704231,0.0,7.704231,0.0,29.8

In [11]:
features = df[[c for c in df.columns if c != 'ETo']]
label = df[['ETo']]

In [12]:
scaler = MinMaxScaler()
features_scaled = scaler.fit_transform(features.values)
features_normalized = pd.DataFrame(features_scaled, 
                                   index=features.index, 
                                   columns=features.columns)

In [14]:
scaler = MinMaxScaler()
label_scaled = scaler.fit_transform(label.values)
label_normalized = pd.DataFrame(label_scaled,
                                index=label.index,
                                columns=label.columns)

In [15]:
features.to_pickle('./dataset/features.pkl')
label.to_pickle('./dataset/label.pkl')
features_normalized.to_pickle('./dataset/features_normalized.pkl')
label_normalized.to_pickle('./dataset/label_normalized.pkl')